body{
    padding: 2em 3em 2em 1em;
}

#editor {
	height: 850px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204);
    padding: 1em 0 2em 3em;
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;
}



.editor-body{
    font-family: Georgia, serif, Times;

}

.main-title{
    font-size: 2em;
    color: steelblue;
    padding: 1em 0 .5em 0;
}

.sub-title{
    font-size: 1.4em;
    color: steelblue;
    padding: .8em 0 .8em 0;
}

dd {
    margin-left: 2em;
}












#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}


